<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Landing Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/static/name.css" />
    <link rel="icon" href="/static/Aakriti1-removebg-preview.png">
  </head>
  <body>
    
    <main>
      <section id="home-sec" class="flexible home-sec">
        <div class="eye-grabber-img">
          <img src="/static/Aakriti.png" alt="Image" />
        </div>
        <div class="eye-grabber">
          <h1>
            <div class="waviy">
                <span style="--i:1">A</span>
                <span style="--i:2">A</span>
                <span style="--i:3">K</span>
                <span style="--i:4">R</span>
                <span style="--i:5">I</span>
                <span style="--i:6">T</span>
                <span style="--i:7">I</span>
                
             
               </div>
          </h1>
          <h2>
            "Crafting Livelihoods  through Skills"
          </h2>
          <a href="/main">
              <button class="btn">
                Get Started
              </button>
          </a>
        </div>
      </section>
      


  </body>
</html>