<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="/static/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/Aakriti1-removebg-preview.png">
</head>

<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title reset" style="color: #008;">
                Password Reset
            </div>
        </div>
        <div class="form-container">
            <div class="form-inner">
                <form action="/reset_password" method="post" class="reset">
                    <div class="field">
                        <input type="email" name="email" placeholder="Email Address" required>
                    </div>
                    <div class="field">
                        <input type="text" name="otp" placeholder="Enter OTP" required>
                    </div>
                    <div class="field">
                        <input type="password" name="new_password" placeholder="New Password" required>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Reset Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>